body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cell {
  /* background-color: grey; */
  /* width: 100%;
  height: 16.66666%; */
  flex-wrap: wrap;
  display: inline-flex;
  border-radius: 50%;
  float: left;
  height: 6vw;
  width: 6vw;
  z-index: 2;
}
.board {
  background-color: blue;

  width: 42vw;
  height: 36vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
.row {
  background-color: black;
  width: 100%;
  height: 6vw;
  z-index: 1;
}

.column {
  float: left;
  background-color: black;
  width: 6vw;
  height: 100%;
  z-index: 1;
}
